* {
  margin: 0;
}

body {
  background: #F5F7FB;
}

.main-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.main-container-2 {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 25px;
}

.starting-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  font-family: "karla", sans-serif;
  color: #293264;
  font-size: 1.5rem;
}

.description-text {
  margin-top: 10px;
}

.start-button {
  font-family: "karla", sans-serif;
  color: #F5F7FB;
  background-color: #4D5B9E;
  border: none;
  cursor: pointer;
  height: 100px;
  width: 400px;
  border-radius: 10px;
  margin-top: 25px;
  font-size: 1.5rem;
}

.start-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.lower-left-circle {
  height: 300px;
  width: 300px;
  background-color: #DEEBF8;
  border-radius: 45%;
  position: absolute;
  bottom: -250px;
  left: -125px;
  z-index: -1;
  overflow: none;
}

.upper-right-circle {
  height: 500px;
  width: 500px;
  background-color: #FFFAD1;
  position: absolute;
  border-radius: 205%;
  top: -240px;
  right: -240px;
  z-index: -1;
}

.question-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  padding-top: 15px;
  width: 60%;
  text-align: left;
  margin: auto;
  color: #293264;
  border-bottom:  0.794239px solid #DBDEF0;
}

.answer-choices {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  text-align: left;
  align-self: flex-start;
}

.question {
  margin: 10px 55px 25px 0px;
  border: 1px solid #293264;
  padding: 5px 15px;
  border-radius: 10px;
  color: #293264;
  cursor: pointer;
}

.submit-answers {
  display: block;
  margin-top: 35px;
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  height: 75px;
  width: 225px;
  font-size: 1.2rem;
  border-radius: 20px;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.submit-text {
  color: #293264;
  font-size: 1.5rem;
  margin-top: 28px;
}